@page "/Error"
@using System.Diagnostics


<PageTitle>Błąd</PageTitle>


<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Wystąpił błąd podczas przetwarzania Twojego żądania.</h2>


@if (ShowRequestId)
{
    <p>
        <strong>ID żądania:</strong> <code>@RequestId</code>
    </p>
}


<h3>Tryb Development</h3>
<p>
    Zmiana na środowisko <strong>Development</strong> wyświetli bardziej szczegółowe informacje o błędzie.
</p>
<p>
    <strong>Tryb Development nie powinien być włączony w aplikacjach wdrożonych.</strong>
    Może to skutkować ujawnieniem poufnych informacji z wyjątków użytkownikom końcowym.
    Aby debugować lokalnie, włącz środowisko <strong>Development</strong>, ustawiając zmienną środowiskową <strong>ASPNETCORE_ENVIRONMENT</strong> na <strong>Development</strong>
    i ponownie uruchom aplikację.
</p>


@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }


    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);


    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
