@using FleetBook.Models
@rendermode InteractiveServer

<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(IsNewUser ? "Dodaj nowego użytkownika" : "Edytuj użytkownika")</h5>
                <button type="button" class="btn-close" @onclick="Close"></button>
            </div>
            <div class="modal-body">
                @if (EditingUser != null)
                {
                    <div class="form-group mb-3">
                        <label>Imię</label>
                        <input type="text" class="form-control" @bind="EditingUser.Imie" />
                    </div>
                    <div class="form-group mb-3">
                        <label>Nazwisko</label>
                        <input type="text" class="form-control" @bind="EditingUser.Nazwisko" />
                    </div>
                    <div class="form-group mb-3">
                        <label>Email</label>
                        <input type="email" class="form-control" @bind="EditingUser.Email" />
                    </div>
                    <div class="form-group mb-3">
                        <label>Numer telefonu</label>
                        <input type="tel" class="form-control" @bind="EditingUser.NumerTelefonu" />
                    </div>
                    <div class="form-group mb-3">
                        <label>
                            <input type="checkbox" @bind="EditingUser.Uprawniony" />
                            Uprawniony do rezerwacji
                        </label>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="Close">Anuluj</button>
                <button type="button" class="btn btn-primary" @onclick="Save">Zapisz</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public User? EditingUser { get; set; }
    
    [Parameter]
    public EventCallback OnSave { get; set; }
    
    private string ModalDisplay = "none";
    private string ModalClass = "";
    private bool IsNewUser = false;
    
    public void Open(bool isNew = false)
    {
        IsNewUser = isNew;
        ModalDisplay = "block";
        ModalClass = "show";
    }
    
    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
    }
    
    private async Task Save()
    {
        await OnSave.InvokeAsync();
        Close();
    }
}